:root {
    --primary-color: #d52;
    --secondary-color: rgb(87, 87, 245);
    --gray-color: #777;
    --light-gray-color: #eee;
    --success-color: forestgreen;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
button {
    font-family: inherit;
    color: inherit;
    background: none;
    outline: none;
    border: none;
    font-size: inherit;
    cursor: pointer;
}
input,
select {
    font-family: inherit;
    background: none;
    outline: none;
    border: none;
    font-size: inherit;
    padding: 6px;
}
select {
    cursor: pointer;
}
input:focus,
select:focus {
    background-color: var(--light-gray-color);
}
.menuBtn {
    font-size: 20px;
    color: var(--gray-color);
}

.menuBtn:hover,
.menuBtn:focus-visible {
    filter: brightness(1.3);
}
